<div class="form-container">
  <div class="small-form">
    <h3 class="small-form-title"><%= label_text %></h3>
    <%= form_for [@league, @season] do |form| %>
      <% if season.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</h2>

          <ul>
          <% season.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :league_id %>
        <%= form.text_field :league_id, id: :season_league_id %>
      </div>

      <div class="field">
        <%= form.label :active %>
        <%= form.check_box :active, id: :season_active %>
      </div>

      <div class="field">
        <%= form.label :completed %>
        <%= form.check_box :completed, id: :season_completed %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
