<p id="notice"><%= notice %></p>

<p>
  <strong>League:</strong>
  <%= @season.league.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @season.active %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @season.completed %>
</p>

<%= link_to 'Back', league_path(@league) %>
