<div class="card-container">
  <div class="card">
    <div class="card-divider">
      <div class="card-main-section">
        <h3 class="small-form-title"><%= @league.name %></h3>
        <small class="muted-text">League Owner: <%= @league.creator_full_name %></small>
      </div>
      <div class="card-header-actions">
        <%= link_to edit_league_path do %>
          <%= fa_icon 'edit 2x' %>
        <% end %>
      </div>
    </div>
    <div class="card-section league-card-section">

      <div class="small-nested-card">
        <%= render partial: 'shared/season_standings' %>
      </div>

      <div class="small-nested-card">
        <%= render partial: 'shared/games' %>
      </div>

      <div class="small-nested-card">
        <%= render partial: 'shared/seasons' %>
      </div>

    </div>
  </div>
</div>
