<div class="card-section league-card-section">
  <div>
    <h6 class="small-form-title">
      <%= link_to "Season ##{season.number_in_order}", league_season_path(@league, season) %>
    </h6>
    <small class="muted-text"># of Games: <%= season.games_count %></small>
    <br /><small class="muted-text">Season Leader: <%= season.winner_full_name %></small>
  </div>
  <section>
    <small>
      <%= season.active_text %>
      <%= button_to league_season_activate_path(@league, season), { class: 'activate-button', form_class: 'inline-button-to', method: :patch, title: season.active_title } do %>
        <%= fa_icon season.activate_button('active') %>
      <% end %>
    </small><br />
    <small>
      <%= season.completed_text %>
      <%= button_to league_season_complete_path(@league, season), { class: 'activate-button', form_class: 'inline-button-to', method: :patch, title: season.completed_title } do %>
        <%= fa_icon season.activate_button('completed') %>
      <% end %>
    </small>
  </section>
</div>
