<div class="card-container">
  <div class="card">
    <div class="card-divider">
      <%= render partial: 'game_header' %>
    </div>
    <div class="card-section game-card-section">
      <div class="form-container new-player-form">
        <%= render partial: 'new_player_form' %>
      </div>
      <div class="form-container player-list">
        <div class="nested-list">
          <%= render partial: 'finished_players' %>
          <%= render partial: 'unfinished_players' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'new_user_modal' %>
