<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.text_field :game_id, id: :player_game_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :player_user_id %>
  </div>

  <div class="field">
    <%= form.label :finishing_place %>
    <%= form.number_field :finishing_place, id: :player_finishing_place %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score, id: :player_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
